<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/registrationpklogo"
        android:supportsRtl="true"  android:roundIcon="@drawable/registrationpklogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.RegistrationsPk"
        tools:targetApi="31">
        <activity
            android:name=".SubmitForm"
            android:exported="false" />
        <activity
            android:name=".Failed"
            android:exported="false" />
        <activity
            android:name=".Pepris"
            android:exported="false" />
        <activity
            android:name=".Peira"
            android:exported="false" />
        <activity
            android:name=".SchoolRegistration"
            android:exported="false" />
        <activity
            android:name=".CollegeRegistration"
            android:exported="false" />
        <activity
            android:name=".FedralBoard"
            android:exported="false" />
        <activity
            android:name=".RawalPindiBoard"
            android:exported="false" />
        <activity
            android:name=".Submitted"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>